body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  /* Optional: Makes the sample page fill the window. */
  body {
    padding: 0 !important;
  }
  table {
    font-size: 12px;
  }
  .dog-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    width: 440px;
    z-index: 1;
  }
  #map {
    margin-top: 40px;
  }
  #listing {
    width: 100vh;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
    margin-right: 0px;
    margin-top: 20px;
    border: solid 2px;
  }
  #findDogs {
    font-size: 14px;
  }
  #locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 8px;
  }
  #controls {
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
  }
  #autocomplete {
    width: 100%;
  }
  #country {
    width: 100%;
  }
  .placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
  }
  .petIcon {
    width: 24px;
    height: 24px;
  }
  #resultsTable {
    border-collapse: collapse;
    width: 100vh;
  }
  #rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
  }
  .iw_table_row {
    height: 18px;
  }
  .iw_attribute_name {
    font-weight: bold;
    text-align: right;
  }
  .iw_table_icon {
    text-align: right;
  }
  div.mapSize {
    height: 100vh;
    width: 100vh;
    margin-right: 0px;
  }
  div.theDog {
    width: 100vh;
    height: auto;
  }
  .isHidden {
    display:none;
  }
  #weatherList {
    list-style: none;
    margin: 0px;
  }
  ul#weatherList li {
    display: inline;
  }
  li.temp {
    font-size: 20px;
    margin-left: 20px;
  }
  li.windspeed {
    font-size: 20px;
    margin-left: 20px;
  }
  